.container {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 696px;
  margin: 0 auto;
}

.weather {
  background: linear-gradient(
    158deg,
    rgba(253, 255, 255, 1) 0%,
    rgba(227, 232, 236, 1) 74%,
    rgba(183, 196, 207, 1) 100%
  );
  margin: 20px auto;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgb(138, 138, 151);
  padding: 20px 30px 30px;
  min-width: 540px;
}

.city-search {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 30px;
}

.form-search,
.form-submit {
  border: 1px solid rgb(59, 59, 59);
  padding: 7px 15px;
  box-shadow: 5px 5px 7px rgba(121, 114, 151, 0.87);
  border-radius: 20px;
}

.form-search,
.form-search:focus {
  width: 70%;
  outline: none;
  background: rgba(255, 255, 255, 0.301);
}

.form-submit {
  width: 25%;
  color: white;
  border: 1px solid #774f8a;
  background: #774f8a;
  transition: all 150ms ease-in-out;
}

.form-submit:hover {
  background: #9c6bb3;
  border: 1px solid #9c6bb3;
}

.city {
  font-size: 32px;
  font-weight: 500;
  color: #774f8a;
  text-transform: capitalize;
}

.description {
  font-size: 20px;
  text-transform: capitalize;
}

.icon,
.temperature {
  font-size: 64px;
}

.icon {
  padding: 0 20px;
}
.temperature {
  font-weight: 500;
}

.units {
  position: relative;
  top: -40px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.value {
  color: #774f8a;
  font-weight: 500;
}

small {
  text-align: center;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #aa6cc7;
}
